
/* 親要素の画像は相対配置とする */
.textImage {
    position: relative; 
    display: inline-block;
}

/* 文字のポジションは絶対配置とする */
.textImage p {
    position: absolute; 
    color:blue;
    font-weight: bold;
    top: 0; 
    left: 0 px;
    padding-left: 50px;
}

