@charset "utf-8";

header{
  background-color:royalblue;
  padding: 5px;
}

body{
  width: 700px;
  /* width: 70vw; */
}

 .img-sim1{
  width: 588px;
  height: 255px;
  /* width: 70vw; */
} 

.main-title1{
  border-bottom: 3px solid royalblue;
  font-family: cursive;
  margin-bottom: 50px;
}
